<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="scorecard"></ion-back-button>
    </ion-buttons>
    <ion-title>KPI name</ion-title>
 
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Please key in your comments here..."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" >Submit</ion-button>
</ion-content>
