<ion-header>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="MM" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">DOS</ion-select-option>
            <ion-select-option value="lunix">Linux</ion-select-option>
            <ion-select-option value="mac7">Mac OS 7</ion-select-option>
            <ion-select-option value="mac8">Mac OS 8</ion-select-option>
            <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
            <ion-select-option value="win95">Windows 95</ion-select-option>
            <ion-select-option value="win98">Windows 98</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Month" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="1">Jan</ion-select-option>
            <ion-select-option value="2">Feb</ion-select-option>
            <ion-select-option value="3">March</ion-select-option>
            <ion-select-option value="4">April</ion-select-option>
            <ion-select-option value="5">May</ion-select-option>
            <ion-select-option value="6">June</ion-select-option>
            <ion-select-option value="7">July</ion-select-option>
            <ion-select-option value="8">Aust</ion-select-option>
            <ion-select-option value="9">Sept</ion-select-option>
            <ion-select-option value="10">Oct</ion-select-option>
            <ion-select-option value="11">Nov</ion-select-option>
            <ion-select-option value="12">Dec</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Dept" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">DOS</ion-select-option>
            <ion-select-option value="lunix">Linux</ion-select-option>
            <ion-select-option value="mac7">Mac OS 7</ion-select-option>
            <ion-select-option value="mac8">Mac OS 8</ion-select-option>
            <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
            <ion-select-option value="win95">Windows 95</ion-select-option>
            <ion-select-option value="win98">Windows 98</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <ion-segment [(ngModel)]="segment" scrollable >
    <ion-segment-button *ngFor="let c of categories" value="{{ c }}">
      {{ c }}
    </ion-segment-button>
  </ion-segment>


</ion-content>