ion-select{
    font-size: xx-small;
}

.data-col {
    background: #f0f0f0;
  }
  
  .has-focus {
    --background: #fdf696;
  }
  
  .data-table {
    min-width: 50px;
    min-height: 600px;
    text-align: center;
  }
  .data-table5 {
    margin-top: -10px;
    min-width: 50px;
    min-height: 600px;
    text-align: center;
  }
  .data-table-operation {
    min-width: 50px;
    min-height: 120px;
    text-align: center;
  }
  .data-table-operation5 {
      margin-top: -10px;
    min-width: 50px;
    min-height: 120px;
    text-align: center;
  }
  .data-table-digital {
    min-width: 50px;
    min-height: 360px;
    text-align: center;
  }
 
  ion-input{
    font-size: xx-small;
  }
  
  ion-col{
    font-size: xx-small;
  }
  .TargetActual{
      margin-top: 36px;
      min-height: 95px;
  }
  .OperationTargetActual{
      margin-top: 20px;
      min-height: 50px;
  }