<ion-header>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="MM" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">DOS</ion-select-option>
            <ion-select-option value="lunix">Linux</ion-select-option>
            <ion-select-option value="mac7">Mac OS 7</ion-select-option>
            <ion-select-option value="mac8">Mac OS 8</ion-select-option>
            <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
            <ion-select-option value="win95">Windows 95</ion-select-option>
            <ion-select-option value="win98">Windows 98</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Month" style="width: 100" ok-text="Okay" cancel-text="Nah" (ionChange)="month()"
            [(ngModel)]="getSelectedMonth">
            <ion-select-option value="1">Jan</ion-select-option>
            <ion-select-option value="2">Feb</ion-select-option>
            <ion-select-option value="3">March</ion-select-option>
            <ion-select-option value="4">April</ion-select-option>
            <ion-select-option value="5">May</ion-select-option>
            <ion-select-option value="6">June</ion-select-option>
            <ion-select-option value="7">July</ion-select-option>
            <ion-select-option value="8">Aust</ion-select-option>
            <ion-select-option value="9">Sept</ion-select-option>
            <ion-select-option value="10">Oct</ion-select-option>
            <ion-select-option value="11">Nov</ion-select-option>
            <ion-select-option value="12">Dec</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Dept" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">DOS</ion-select-option>
            <ion-select-option value="lunix">Linux</ion-select-option>
            <ion-select-option value="mac7">Mac OS 7</ion-select-option>
            <ion-select-option value="mac8">Mac OS 8</ion-select-option>
            <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
            <ion-select-option value="win95">Windows 95</ion-select-option>
            <ion-select-option value="win98">Windows 98</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-segment [(ngModel)]="segment" scrollable>
    <ion-segment-button value="Financial">
      Financial
    </ion-segment-button>
    <ion-segment-button value="Operation">
      Operation
    </ion-segment-button>
    <ion-segment-button value="Digitalisation">
      Digitalisation
    </ion-segment-button>
    <ion-segment-button value="Customer">
      Customer
    </ion-segment-button>
    <ion-segment-button value="People">
      People
    </ion-segment-button>
    <ion-segment-button value="Products">
      Products
    </ion-segment-button>
  </ion-segment>

  <div class="info" [ngSwitch]="segment">
    <div *ngSwitchCase="'Financial'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table class="data-table">
              <tr *ngFor="let row of RevenueKPI">

                <td>{{row[0]}}</td>

              </tr>

              <tr *ngFor="let row of (Financial || [])">

                <td *ngIf="row[2]">{{row[2]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table class="data-table">
              <tr *ngFor="let row of RevenueData">
                <td>{{row[0]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

              <!-- <tr *ngFor="let row of FinancialType">
                <td *ngIf="row[4]">{{row[4]}}</td>
    
              </tr> -->

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of FinancialFirstType">Total:{{row[28]}}</div>

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTarget">
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div *ngSwitchCase="'Operation'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[2]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[3]}}</td>

              </tr>
            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[4]}}</td>

              </tr>
              <tr *ngFor="let row of OperationKPIType">

                <td>{{row[4]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of OperationKPI">Total:{{row[28]}}</div>

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <!-- <div class="TargetActual"> -->

            <div *ngFor="let row of OpertaionKPITarget; let i = index">
              <div *ngIf="row[7] === '% (A)' || row[7] === '# (M)'" (ionChange)="addCounter()">T :
                row{{i}}
              </div>
            </div>

            <div>{{counter}}</div>
            <div *ngFor="let row of RevenueActual">A :
              {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            <!-- </div> -->

          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'Digitalisation'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table">
              <tr *ngFor="let row of DigitalisationKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table class="data-table">

              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table">
              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of DigitalisationKPI">
              <div *ngIf="row[28] == '20'">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-digital">
              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'Customer'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of CustomerKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of OpertaionKPITarget">
                <td *ngIf="row[3] == 'Non-contractual Customer CE '">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of CustomerKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of CustomerKPI">
              <div *ngIf="row[28] == '5'">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of Customerpercentage">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'People'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of PeopleKPI">
              <div *ngIf="row[28]">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div *ngSwitchCase="'Products'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of ProductKPI">
              <div *ngIf="row[28]">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


  </div>
</ion-content>