<ion-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="MM" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">DOS</ion-select-option>
            <ion-select-option value="lunix">Linux</ion-select-option>
            <ion-select-option value="mac7">Mac OS 7</ion-select-option>
            <ion-select-option value="mac8">Mac OS 8</ion-select-option>
            <ion-select-option value="win3.1">Windows 3.1</ion-select-option>
            <ion-select-option value="win95">Windows 95</ion-select-option>
            <ion-select-option value="win98">Windows 98</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Month" style="width: 100" ok-text="Okay" cancel-text="Nah" (ionChange)="month()"
            [(ngModel)]="getSelectedMonth">
            <ion-select-option value="1">Jan</ion-select-option>
            <ion-select-option value="2">Feb</ion-select-option>
            <ion-select-option value="3">Mar</ion-select-option>
            <ion-select-option value="4">Apr</ion-select-option>
            <ion-select-option value="5">May</ion-select-option>
            <ion-select-option value="6">June</ion-select-option>
            <ion-select-option value="7">July</ion-select-option>
            <ion-select-option value="8">Aug</ion-select-option>
            <ion-select-option value="9">Sep</ion-select-option>
            <ion-select-option value="10">Oct</ion-select-option>
            <ion-select-option value="11">Nov</ion-select-option>
            <ion-select-option value="12">Dec</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-select placeholder="Dept" style="width: 100" ok-text="Okay" cancel-text="Nah">
            <ion-select-option value="dos">CDE</ion-select-option>
            <ion-select-option value="lunix">ITSS</ion-select-option>
            <ion-select-option value="mac7">SM</ion-select-option>
            <ion-select-option value="mac8">CDO</ion-select-option>
            <ion-select-option value="win3.1">Nwk Ops + Sys Ops</ion-select-option>
            <ion-select-option value="win95">TAC</ion-select-option>
            <ion-select-option value="win98">SGO</ion-select-option>
            <ion-select-option value="win98">CC</ion-select-option>
            <ion-select-option value="win98">SATOps</ion-select-option>
            <ion-select-option value="win98">PM</ion-select-option>
            <ion-select-option value="win98">CSS</ion-select-option>
            <ion-select-option value="win98">GSP</ion-select-option>
            <ion-select-option value="win98">DSS</ion-select-option>
            <ion-select-option value="win98">GD/BOS</ion-select-option>
            <ion-select-option value="win98">GEIM</ion-select-option>
            <ion-select-option value="win98">GD/DSS</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-segment [(ngModel)]="segment" scrollable>
    <ion-segment-button value="Financial">
      Financial
    </ion-segment-button>
    <ion-segment-button value="Operation">
      Operation
    </ion-segment-button>
    <ion-segment-button value="Digitalisation">
      Digitalisation
    </ion-segment-button>
    <ion-segment-button value="Customer">
      Customer
    </ion-segment-button>
    <ion-segment-button value="People">
      People
    </ion-segment-button>
    <ion-segment-button value="Products">
      Products
    </ion-segment-button>
  </ion-segment>

  <div class="info" [ngSwitch]="segment">
    <div *ngSwitchCase="'Financial'">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table class="data-table">
              <tr *ngFor="let row of RevenueKPI">

                <td>{{row[0]}}</td>

              </tr>

              <tr *ngFor="let row of (Financial || [])">

                <td *ngIf="row[2]">{{row[2]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table class="data-table">
              <tr *ngFor="let row of RevenueData">
                <td>{{row[0]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

              <!-- <tr *ngFor="let row of FinancialType">
                <td *ngIf="row[4]">{{row[4]}}</td>
              </tr> -->

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of FinancialFirstType">Total:{{row[28]}}</div>

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

              <tr *ngFor="let row of Financial">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}

            <div class="TargetActual">
              <div *ngFor="let row of SRevenueTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MRevenueTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MPTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MOpexTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MCapexTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>

          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of SRevenueTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of SRevenueActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MRevenueTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MRevenueTarget">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MPTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MPActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MOpexTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MOpexActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MCapexTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MCapexActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div *ngSwitchCase="'Operation'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[2]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[3]}}</td>

              </tr>
            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of OperationKPI">

                <td>{{row[4]}}</td>

              </tr>
              <tr *ngFor="let row of OperationKPIType">

                <td>{{row[4]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of OperationKPI">Total:{{row[28]}}</div>

            <table class="data-table">
              <tr *ngFor="let row of FinancialFirstType">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>
            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}

            <div class="OperationTargetActual">
              <div *ngFor="let row of MOKPIMTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>
            <div class="OperationTargetActual">
              <div *ngFor="let row of MOKPIYTarget">
                <div *ngIf="getSelectedMonth == '1'">
                  {{row[17]}}</div>
                <div *ngIf="getSelectedMonth == '2'">
                  {{row[18]}}</div>
                <div *ngIf="getSelectedMonth == '3'">
                  {{row[19]}}</div>
                <div *ngIf="getSelectedMonth == '4'">
                  {{row[8]}}</div>
                <div *ngIf="getSelectedMonth == '5'">
                  {{row[9]}}</div>
                <div *ngIf="getSelectedMonth == '6'">
                  {{row[10]}}</div>
                <div *ngIf="getSelectedMonth == '7'">
                  {{row[11]}}</div>
                <div *ngIf="getSelectedMonth == '8'">
                  {{row[12]}}</div>
                <div *ngIf="getSelectedMonth == '9'">
                  {{row[13]}}</div>
                <div *ngIf="getSelectedMonth == '10'">
                  {{row[14]}}</div>
                <div *ngIf="getSelectedMonth == '11'">
                  {{row[15]}}</div>
                <div *ngIf="getSelectedMonth == '12'">
                  {{row[16]}}</div>
              </div>

            </div>

          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
           
            <div class="OperationTargetActual">
              <div *ngFor="let row of MOKPIMTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MOKPIMActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
            <div class="OperationTargetActual">
              <div *ngFor="let row of MOKPIYTarget">
                <div *ngIf="getSelectedMonth == '1'">T :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">T :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">T :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">T :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">T :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">T :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">T :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">T :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">T :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">T :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">T :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">T :
                  {{row[30]}}</div>
              </div>
              <div *ngFor="let row of MOKPIYActual">
                <div *ngIf="getSelectedMonth == '1'">A :
                  {{row[31]}}</div>
                <div *ngIf="getSelectedMonth == '2'">A :
                  {{row[32]}}</div>
                <div *ngIf="getSelectedMonth == '3'">A :
                  {{row[33]}}</div>
                <div *ngIf="getSelectedMonth == '4'">A :
                  {{row[22]}}</div>
                <div *ngIf="getSelectedMonth == '5'">A :
                  {{row[23]}}</div>
                <div *ngIf="getSelectedMonth == '6'">A :
                  {{row[24]}}</div>
                <div *ngIf="getSelectedMonth == '7'">A :
                  {{row[25]}}</div>
                <div *ngIf="getSelectedMonth == '8'">A :
                  {{row[26]}}</div>
                <div *ngIf="getSelectedMonth == '9'">A :
                  {{row[27]}}</div>
                <div *ngIf="getSelectedMonth == '10'">A :
                  {{row[28]}}</div>
                <div *ngIf="getSelectedMonth == '11'">A :
                  {{row[29]}}</div>
                <div *ngIf="getSelectedMonth == '12'">A :
                  {{row[30]}}</div>
              </div>

            </div>
     
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'Digitalisation'">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI
            <table border="1" class="data-table">
              <tr *ngFor="let row of DigitalisationKPI">
                <td>{{row[2]}}</td>
              </tr>
            </table>
          </ion-col>
          <ion-col size="2">
            Target
            <table class="data-table">
              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>
              </tr>
            </table>
          </ion-col>
          <ion-col size="2">
            Type
            <table class="data-table">
              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>
              </tr>
            </table>
          </ion-col>
          <ion-col size="2">
            %
            <div *ngFor="let row of DigitalisationKPI">
              <div *ngIf="row[28] == '20'">Total:{{row[28]}}</div>
            </div>
            <table border="1" class="data-table-digital">
              <tr *ngFor="let row of DigitalisationKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>
              </tr>
            </table>
          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'Customer'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of CustomerKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of OpertaionKPITarget">
                <td *ngIf="row[3] == 'Non-contractual Customer CE '">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of CustomerKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of CustomerKPI">
              <div *ngIf="row[28] == '5'">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of Customerpercentage">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
    <div *ngSwitchCase="'People'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of PeopleKPI">
              <div *ngIf="row[28]">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of PeopleKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>

          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div *ngSwitchCase="'Products'">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            KPI

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">

                <td>{{row[2]}}</td>

              </tr>


            </table>

          </ion-col>
          <ion-col size="2">
            Target

            <table border="1" class="data-table-operation">

              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[3]">{{row[3]}}</td>

              </tr>

            </table>


          </ion-col>
          <ion-col size="2">
            Type

            <table class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[4]">{{row[4]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">

            %
            <div *ngFor="let row of ProductKPI">
              <div *ngIf="row[28]">Total:{{row[28]}}</div>
            </div>

            <table border="1" class="data-table-operation">
              <tr *ngFor="let row of ProductKPI">
                <td *ngIf="row[29]">{{row[29]}}</td>

              </tr>

            </table>

          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
          </ion-col>
          <ion-col size="2">
            20 - {{getSelectedMonth}}
            <div class="TargetActual">
              <div *ngFor="let row of RevenueData">T :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
              <div *ngFor="let row of RevenueActual">A :
                {{(row[4] - row[16] - row[15] - row[14] - row[13] - row[12] - row[11])}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of MeetRevenueTA">
                {{row[3]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of OPEXTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of OPEXActual">A :
                {{row[5]}}</div>
            </div>
            <div class="TargetActual">
              <div *ngFor="let row of CapexTarget">T :
                {{(row[5])}}</div>
              <div *ngFor="let row of CapexActual">A :
                {{row[5]}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>